body {
    background-color: hsl(0, 0%, 8%);
  }
  .parent {
    background-color: hsl(0, 0%, 12%);
    width: 300px;
    height: 540px;
    margin-left: 40%;
    margin-top: 20px;
    border-radius: 10px;
    justify-content: center;
  }
  .parent img {
    border-radius: 50%;
    margin-left: 38%;
    width: 80px;
    margin-top: 5%;
  }
  .t1 {
    color: hsl(0, 0%, 100%);
    margin-left: 30%;
    font-size: 14;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .git {
    background-color: hsl(0, 0%, 20%);
    width: 250px;
    height: 40px;
    border-radius: 10px;
    margin-left: 10%;
    border: none;
    margin-top: 5%;
    cursor: pointer;
    color: #ffffff;
    font-size: large;
    
  }
  .git:hover {
    background-color: yellow;
    a {
      color: black;
    }
  }
  a {
    text-decoration: none ;
    color: #ffffff;
  }
  .t2 {
    color: hsl(75, 94%, 57%);
    font-size: 14;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 20%;
  }

  .t3 {
    margin-left: 10%;
    color: hsl(0, 0%, 100%);
    font-size: 14;
  }

  @media (max-width: 932px) {
    .parent {
      width: 200px;
      position: absolute;
      left: -10%;
    }
    .git {
      width: 150px;
    }
  }